.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(30, 38%, 92%);
}

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  height: 625px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
}

img {
  height: 250px;
  width: 350px;
  border-radius: 10px 10px 0px 0px;
}

.card-body {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.product {
  font-family: "Montserrat", serif;
  color: grey;
  font-size: small;
}

h1 {
  font-family: "Fraunces", serif;
  margin-top: 0;
}

.info {
  font-family: "Montserrat", serif;
  color: gray;
  margin-bottom: 0;
  font-size: medium;
}

.price-container {
  display: flex;
  align-items: center;
  height: 70px;
}

.price {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  padding-right: 20px;
  align-self: center;
  font-size: xx-large;
}

.old-price {
  font-family: "Montserrat", serif;
  color: gray;
  text-decoration-line: line-through;
}

.button-container {
  display: inline;
  justify-content: center; /* Horizontally center the button */
  align-items: center; /* Vertically center the button */
  height: 100%; /* Ensure it fills the parent's height for proper centering */
  width: 100%;
}

button {
  background-color: hsl(158, 36%, 37%);
  color: white; /* Optional: Ensure text is readable */
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 15px; /* Add padding for a larger clickable area */
  cursor: pointer; /* Indicates it's clickable */
  transition: background-color 0.3s; /* Smooth hover effect */
  font-weight: 600;
}

button:hover {
  background-color: hsl(158, 37%, 23%);
}

.cartLogo {
  width: 1em; /* Match the size of the font (text) */
  height: auto; /* Maintain aspect ratio */
  margin-right: 8px; /* Add some spacing between the image and text */
  transform: translateY(2px); /* Move the logo slightly downward */
}

@media only screen and (min-width: 1000px) {
  .card {
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
  }

  .cardContents {
    display: flex;
  }

  img {
    height: 400px;
    width: 280px;
    border-radius: 10px 0px 0px 10px;
  }

  .button-container {
    display: inline;
    justify-content: center; /* Horizontally center the button */
    align-items: center; /* Vertically center the button */
    height: 100%; /* Ensure it fills the parent's height for proper centering */
    width: 100%;
  }

  h1 {
    font-family: "Fraunces", serif;
    margin-top: 0;
  }

  .info {
    font-family: "Montserrat", serif;
    color: gray;
    margin-bottom: 0;
    font-size: small;
  }
  .card-body {
    margin: 20px;
  }

  .price {
    font-size: x-large;
  }
}
